{% extends "base.html.twig" %}

{% block formulaire %}

	<form action="/products/add" method="post">
		<fieldset>
			<div class="mb-3">
				<label for="nom" class="form-label">Nom du produit :</label>
				<input type="text" id="nom" name="nom" class="form-control"><br>
			</div>

			<div class="mb-3">
				<label for="prix" class="form-label">Prix :</label>
				<input type="number" step="0.01" min="0.10" max="20.00" id="prix" name="prix" class="form-control"><br>
			</div>

			<div class="mb-3">
				<label for="quantite" class="form-label">Quantité :</label>
				<input type="number" id="quantite" name="quantite" class="form-control"><br>
			</div>

			<div class="mb-3">
				<button type="submit" class="btn btn-primary">Valider</button>
			</fieldset>
		</div>
	</form>


{% endblock %}
